header {

    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: -1%;
}

body {

    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: white;
}

main img {

    height: 250px;
    width: auto;
    border-radius: 1%;
    padding: 5%;

}

footer img {
    height: 20px;
    width: auto;

}

.button-class {
    background-color: rgb(11, 185, 185);
    color: white;
    padding: 12px 20px;
    margin: 5px;    
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.button-class:hover {
    background-color: rgb(9, 155, 155);
}

nav {
  margin: auto;
  text-align: center;
  padding: 5px 0;
  background-color: rgb(205, 104, 64);
  box-shadow: 0 2px 4px rgb(245, 248, 192);
  outline: 2px solid rgb(245, 248, 192);
  border-radius: 5px;
}

hr {
    width: 100%;
    margin: 10px auto;
    border: 1px solid rgb(205, 104, 64);
    opacity: 0.7;
}