* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  text-align: center;
  font-weight: bold;
}

nav {
  margin: auto;
  text-align: center;
  padding: 5px 0;
  background-color: rgb(205, 104, 64);
  box-shadow: 0 2px 4px rgb(245, 248, 192);
  outline: 2px solid rgb(245, 248, 192);
  border-radius: 5px;
}

.button-class {
    background-color: rgb(11, 185, 185);
    color: white;
    padding: 12px 20px;
    margin: 5px;    
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.button-class:hover {
    background-color: rgb(9, 155, 155);
}

/* The actual timeline (the vertical ruler) */
.time-line {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.time-line::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #b56576ff;
  top: 15px;
  bottom: 10px;
  left: 50%;
  margin-left: -1px;
}

/* Container around content */
.wapper {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.wapper::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
  background-color: #eaac8bff;
  border: 9px solid #355070ff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.time-line__left {
  left: 0;
}

/* Place the container to the right */
.time-line__right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.time-line__left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.time-line__right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.time-line__right::after {
  left: -16px;
}

/* The actual content */
.time-line__content {
  padding: 20px 30px;
  background-color: #b56576ff;
  position: relative;
  border-radius: 6px;
  color: white;
 }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .wapper {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .wapper::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .time-line__left::after, .time-line__right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .time-line__right {
  left: 0%;
  }
}

hr {
    width: 100%;
    margin: 10px auto;
    border: 1px solid rgb(205, 104, 64);
    opacity: 0.7;
}

footer img {
    height: 20px;
    width: auto;

}

footer {
    
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}