header {

    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex: auto;
}

main {

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: auto;
    flex: auto;
}

footer img {
    height: 20px;
    width: auto;
}

footer {

    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

}

.button-class {
    background-color: rgb(11, 185, 185);
    color: white;
    padding: 12px 20px;
    margin: 5px;    
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.button-class:hover {
    background-color: rgb(9, 155, 155);
}

nav {
    
  /*display: flex;*/
  margin: auto;
  text-align: center;
  padding: 5px 0;
  background-color: rgb(205, 104, 64);
  box-shadow: 0 2px 4px rgb(245, 248, 192);
  outline: 2px solid rgb(245, 248, 192);
  border-radius: 5px;
}

.skills-button-class {
    background-color: grey;
    color: white;
    padding: 50px 100px;
    margin: 5px;    
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.skills-button-class:hover {
    background-color: gray;
}

hr {
    width: 100%;
    margin: 10px auto;
    border: 1px solid rgb(205, 104, 64);
    opacity: 0.7;
}

h3 {
    color: rgb(205, 104, 64);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.rtag {
 
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: grey;
  border-radius: 5px;

}

.atag {
 
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: #2de3dd;
  border-radius: 5px;

}

.data-tags {

    display: flex;
    
}

.dtag {

    text-decoration: none;

}

li {
text-decoration: none;
}