/* 
--desert-sand: #ecc8afff;
--melon: #e7ad99ff;
--old-rose: #ce796bff;
--persian-orange: #c18c5dff;
--paynes-gray: #495867ff;

*/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Courier, monospace, sans-serif;
    
}

header{
    color: #e7ad99ff;
    background-color: #ce796bff;
    background-image: url(CatPawBackground.jpg);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

header img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 10px;
    border: 3px solid #495867ff;
}

main {
    margin: auto;
}

body {
    color: #e7ad99ff;
    background-color: #ce796bff;
}

footer {
    color: #e7ad99ff;
    background-color: #ce796bff;
    padding: auto;
}

footer img a {
    vertical-align: middle;
    margin-right: auto;
}


.aboutMe {
    text-align: left;
    font-size: 16px;
    padding-left: 16px;
    margin: 10px;
    border: 2px solid #495867ff;
    background-color: #c18c5dff;
    color: #495867ff;
}

.centered {
    text-align: center;
}
  
.intro {

    font-size: 16px;
    color: #495867ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}



    





